- var i = 0;

mixin accordion-container
  section.accordion(attributes)
    block

mixin accordion-header(text)
  - var id  = 'acc-' + i++ + (attributes["data-accordion-id"] || '');
  input(type="checkbox", id=id, hidden="")
  header
    label.title(for=id)
      span(attributes)= text
    block

mixin accordion-content
  article.accordion-content
    block

mixin accordion-ul
  ul(attributes)
    block

mixin accordion-li
  li(attributes)
    block

mixin accordion-li-label
  span.name(data-hyper-bind="arm.name") block

