mixin modal
  .modal-container(ng-class="{active: modal.active}")
    .modal(ng-init="modal = {}")
      section(ng-bind-html="modal.html")
      // TODO move this out of shoelace.
      //      need to fix crossDomain error
      //      in hyper-form.
      form(ng-show="modal.form", data-hyper-form="modal.form")
        input(data-ng-repeat="input in inputs",
              data-hyper-input="input")

    .bg(ng-click="modal = {}")

