COLOR_PRIMARY ?= blue
COLOR_DARK    ?= darken(COLOR_PRIMARY, 70%)
COLOR_LIGHT   ?= lighten(COLOR_PRIMARY, 20%)

GRAY_MED   ?= #333
GRAY_DARK  ?= #888
GRAY_LIGHT ?= #ccc

FONT_FAMILY_MAIN ?= Helvetica, Arial, san-serif

FONT_SIZE_MAIN ?= 13px

FONT_COLOR_NORMAL    ?= desaturate(COLOR_DARK, 50%)
FONT_COLOR_HIGHLIGHT ?= COLOR_LIGHT

PAD       ?= 20px
PAD_SMALL ?= round(PAD) * 0.5

