/*
 * Brand colors.
 */

COLOR_1       ?= blue
COLOR_1_DARK  ?= darken(COLOR_1, 70%)
COLOR_1_LIGHT ?= lighten(COLOR_1, 20%)

COLOR_2       ?= orange
COLOR_2_DARK  ?= darken(COLOR_2, 70%)
COLOR_2_LIGHT ?= lighten(COLOR_2, 20%)

/*
 * Neutral colors.
 */

GRAY_MED   ?= #333
GRAY_DARK  ?= #888
GRAY_LIGHT ?= #ccc
