if SUPPORT_IE is false
  *
    // box-sizing border-box
    box-sizing content-box

else
  ul
    margin-left 0

html
body
  height 100%
  margin 0

html
  font-family FONT_FAMILY_MAIN
  font-size FONT_SIZE_MAIN
  color FONT_COLOR_NORMAL

a
  color FONT_COLOR_NORMAL
  text-decoration none
  cursor pointer
  &:visited
  &:active
    color FONT_COLOR_NORMAL
    text-decoration none
  &:hover
    color FONT_COLOR_HIGHLIGHT

ul
  margin-top 0
  padding-left 0

li
  list-style none
  margin-left 0

pre
  margin-top 0

hr
  border none
  border-top 1px solid #ccc
  width 100%

input
  &[hidden]
    display none!important

