/*
 * Third-party dependencies.
 */

@import '../../node_modules/nib'

/*
 * Local dependencies.
 */

@import './mixins'
@import './variables/config'
@import './variables/base'
@import './variables/colors'
@import './variables/typography'
@import './variables/z-index'


/*
 * Core styles.
 */
@import './globals'
@import './core'
@import './partials/accordion'
@import './partials/icons'
@import './partials/modal'
@import './partials/toggle'

/*
 * Load presets.
 */
@import './presets'
