
section.accordion
  border 1px solid #ccc
  margin-bottom PAD_SMALL
  user-select none

  header
    relative top
    width 100%
    z-index 1
    background linear-gradient(top, white, black)
    overflow hidden
    clear both
    label
      padding PAD_SMALL
      cursor pointer
    aside
      top PAD_SMALL
      margin-right PAD_SMALL

  label
    inline-block()
    width 100%

  aside
    absolute top right PAD_SMALL

  article
    _speed = .3s
    relative top
    margin 0
    padding 0
    max-height 0
    border none
    transition-duration _speed
    transition-property padding

    hr
      margin 0
      height 0
      border-top 1px solid rgba(#ccc, 0)
      padding 0
      transition-duration _speed
      transition-property border-top-color margin

    ul
      margin 0
      padding 0

    li
      relative top
      overflow hidden
      max-height 0
      opacity 0
      transition-duration _speed
      transition-property margin max-height
      display block
      margin 0 PAD_SMALL
      padding 0
      text-height rem(1)

  &.accordion-expanded
    article
      max-height 100%
      hr
        border-top-color rgba(#ccc, 1)
      ul
        border-top-width 1px
        li
          max-height 30px
          opacity 1
          margin PAD_SMALL


