size(n)
  height n
  width n

.modal-selector
  section
    display none

.modal-container
  position absolute
  top 0
  height 100%
  width 100%
  z-index 1
  transition-property opacity
  transition-duration .2s
  opacity 0


  .modal
    position relative
    top 0
    background white
    padding PAD
    margin (PAD * 4) auto
    z-index 2
    max-width _BODY_WIDTH - (PAD * 4)

  .bg
    position absolute
    top 0
    height 100%
    width 100%
    background rgba(black, 0.5)
    z-index 1

  &.active
    opacity 1
    height 100%
    width 100%
    z-index 3



