- var i = 0;
- var id;

mixin accordion
  - id  = 'accordion-' + i++ + (attributes["data-accordion-id"] || '');
  section.accordion(data-ng-class="{'accordion-expanded': expanded}",
                    attributes)
    block

mixin accordion-aside
  aside(attributes)
    block

mixin accordion-label
  label(attributes)
    block

mixin accordion-action
  .accordion-action(attributes)
    block

mixin accordion-header(text)
  header
    label(data-ng-click="expanded = !expanded",
          attributes)= text
    +accordion-aside
      block
      +accordion-action +

mixin accordion-content
  article.accordion-content
    block

mixin accordion-ul
  hr
  ul(attributes)
    block

mixin accordion-li
  li(attributes)
    block

