

.fa-glass {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf000;&nbsp;')")
}
.fa-music {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf001;&nbsp;')")
}
.fa-search {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf002;&nbsp;')")
}
.fa-envelope-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf003;&nbsp;')")
}
.fa-heart {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf004;&nbsp;')")
}
.fa-star {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf005;&nbsp;')")
}
.fa-star-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf006;&nbsp;')")
}
.fa-user {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf007;&nbsp;')")
}
.fa-film {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf008;&nbsp;')")
}
.fa-th-large {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf009;&nbsp;')")
}
.fa-th {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00a;&nbsp;')")
}
.fa-th-list {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00b;&nbsp;')")
}
.fa-check {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00c;&nbsp;')")
}
.fa-times {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00d;&nbsp;')")
}
.fa-search-plus {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00e;&nbsp;')")
}
.fa-search-minus {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf010;&nbsp;')")
}
.fa-power-off {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf011;&nbsp;')")
}
.fa-signal {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf012;&nbsp;')")
}
.fa-gear,
.fa-cog {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf013;&nbsp;')")
}
.fa-trash-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf014;&nbsp;')")
}
.fa-home {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf015;&nbsp;')")
}
.fa-file-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf016;&nbsp;')")
}
.fa-clock-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf017;&nbsp;')")
}
.fa-road {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf018;&nbsp;')")
}
.fa-download {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf019;&nbsp;')")
}
.fa-arrow-circle-o-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01a;&nbsp;')")
}
.fa-arrow-circle-o-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01b;&nbsp;')")
}
.fa-inbox {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01c;&nbsp;')")
}
.fa-play-circle-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01d;&nbsp;')")
}
.fa-rotate-right,
.fa-repeat {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01e;&nbsp;')")
}
.fa-refresh {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf021;&nbsp;')")
}
.fa-list-alt {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf022;&nbsp;')")
}
.fa-lock {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf023;&nbsp;')")
}
.fa-flag {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf024;&nbsp;')")
}
.fa-headphones {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf025;&nbsp;')")
}
.fa-volume-off {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf026;&nbsp;')")
}
.fa-volume-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf027;&nbsp;')")
}
.fa-volume-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf028;&nbsp;')")
}
.fa-qrcode {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf029;&nbsp;')")
}
.fa-barcode {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02a;&nbsp;')")
}
.fa-tag {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02b;&nbsp;')")
}
.fa-tags {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02c;&nbsp;')")
}
.fa-book {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02d;&nbsp;')")
}
.fa-bookmark {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02e;&nbsp;')")
}
.fa-print {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02f;&nbsp;')")
}
.fa-camera {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf030;&nbsp;')")
}
.fa-font {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf031;&nbsp;')")
}
.fa-bold {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf032;&nbsp;')")
}
.fa-italic {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf033;&nbsp;')")
}
.fa-text-height {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf034;&nbsp;')")
}
.fa-text-width {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf035;&nbsp;')")
}
.fa-align-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf036;&nbsp;')")
}
.fa-align-center {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf037;&nbsp;')")
}
.fa-align-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf038;&nbsp;')")
}
.fa-align-justify {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf039;&nbsp;')")
}
.fa-list {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03a;&nbsp;')")
}
.fa-dedent,
.fa-outdent {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03b;&nbsp;')")
}
.fa-indent {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03c;&nbsp;')")
}
.fa-video-camera {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03d;&nbsp;')")
}
.fa-picture-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03e;&nbsp;')")
}
.fa-pencil {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf040;&nbsp;')")
}
.fa-map-marker {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf041;&nbsp;')")
}
.fa-adjust {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf042;&nbsp;')")
}
.fa-tint {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf043;&nbsp;')")
}
.fa-edit,
.fa-pencil-square-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf044;&nbsp;')")
}
.fa-share-square-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf045;&nbsp;')")
}
.fa-check-square-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf046;&nbsp;')")
}
.fa-arrows {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf047;&nbsp;')")
}
.fa-step-backward {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf048;&nbsp;')")
}
.fa-fast-backward {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf049;&nbsp;')")
}
.fa-backward {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04a;&nbsp;')")
}
.fa-play {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04b;&nbsp;')")
}
.fa-pause {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04c;&nbsp;')")
}
.fa-stop {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04d;&nbsp;')")
}
.fa-forward {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04e;&nbsp;')")
}
.fa-fast-forward {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf050;&nbsp;')")
}
.fa-step-forward {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf051;&nbsp;')")
}
.fa-eject {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf052;&nbsp;')")
}
.fa-chevron-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf053;&nbsp;')")
}
.fa-chevron-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf054;&nbsp;')")
}
.fa-plus-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf055;&nbsp;')")
}
.fa-minus-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf056;&nbsp;')")
}
.fa-times-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf057;&nbsp;')")
}
.fa-check-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf058;&nbsp;')")
}
.fa-question-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf059;&nbsp;')")
}
.fa-info-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05a;&nbsp;')")
}
.fa-crosshairs {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05b;&nbsp;')")
}
.fa-times-circle-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05c;&nbsp;')")
}
.fa-check-circle-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05d;&nbsp;')")
}
.fa-ban {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05e;&nbsp;')")
}
.fa-arrow-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf060;&nbsp;')")
}
.fa-arrow-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf061;&nbsp;')")
}
.fa-arrow-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf062;&nbsp;')")
}
.fa-arrow-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf063;&nbsp;')")
}
.fa-mail-forward,
.fa-share {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf064;&nbsp;')")
}
.fa-expand {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf065;&nbsp;')")
}
.fa-compress {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf066;&nbsp;')")
}
.fa-plus {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf067;&nbsp;')")
}
.fa-minus {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf068;&nbsp;')")
}
.fa-asterisk {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf069;&nbsp;')")
}
.fa-exclamation-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06a;&nbsp;')")
}
.fa-gift {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06b;&nbsp;')")
}
.fa-leaf {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06c;&nbsp;')")
}
.fa-fire {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06d;&nbsp;')")
}
.fa-eye {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06e;&nbsp;')")
}
.fa-eye-slash {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf070;&nbsp;')")
}
.fa-warning,
.fa-exclamation-triangle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf071;&nbsp;')")
}
.fa-plane {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf072;&nbsp;')")
}
.fa-calendar {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf073;&nbsp;')")
}
.fa-random {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf074;&nbsp;')")
}
.fa-comment {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf075;&nbsp;')")
}
.fa-magnet {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf076;&nbsp;')")
}
.fa-chevron-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf077;&nbsp;')")
}
.fa-chevron-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf078;&nbsp;')")
}
.fa-retweet {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf079;&nbsp;')")
}
.fa-shopping-cart {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07a;&nbsp;')")
}
.fa-folder {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07b;&nbsp;')")
}
.fa-folder-open {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07c;&nbsp;')")
}
.fa-arrows-v {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07d;&nbsp;')")
}
.fa-arrows-h {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07e;&nbsp;')")
}
.fa-bar-chart-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf080;&nbsp;')")
}
.fa-twitter-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf081;&nbsp;')")
}
.fa-facebook-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf082;&nbsp;')")
}
.fa-camera-retro {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf083;&nbsp;')")
}
.fa-key {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf084;&nbsp;')")
}
.fa-gears,
.fa-cogs {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf085;&nbsp;')")
}
.fa-comments {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf086;&nbsp;')")
}
.fa-thumbs-o-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf087;&nbsp;')")
}
.fa-thumbs-o-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf088;&nbsp;')")
}
.fa-star-half {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf089;&nbsp;')")
}
.fa-heart-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08a;&nbsp;')")
}
.fa-sign-out {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08b;&nbsp;')")
}
.fa-linkedin-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08c;&nbsp;')")
}
.fa-thumb-tack {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08d;&nbsp;')")
}
.fa-external-link {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08e;&nbsp;')")
}
.fa-sign-in {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf090;&nbsp;')")
}
.fa-trophy {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf091;&nbsp;')")
}
.fa-github-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf092;&nbsp;')")
}
.fa-upload {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf093;&nbsp;')")
}
.fa-lemon-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf094;&nbsp;')")
}
.fa-phone {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf095;&nbsp;')")
}
.fa-square-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf096;&nbsp;')")
}
.fa-bookmark-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf097;&nbsp;')")
}
.fa-phone-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf098;&nbsp;')")
}
.fa-twitter {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;&nbsp;')")
}
.fa-facebook {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;&nbsp;')")
}
.fa-github {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09b;&nbsp;')")
}
.fa-unlock {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09c;&nbsp;')")
}
.fa-credit-card {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09d;&nbsp;')")
}
.fa-rss {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09e;&nbsp;')")
}
.fa-hdd-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a0;&nbsp;')")
}
.fa-bullhorn {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a1;&nbsp;')")
}
.fa-bell {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f3;&nbsp;')")
}
.fa-certificate {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a3;&nbsp;')")
}
.fa-hand-o-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a4;&nbsp;')")
}
.fa-hand-o-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a5;&nbsp;')")
}
.fa-hand-o-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a6;&nbsp;')")
}
.fa-hand-o-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a7;&nbsp;')")
}
.fa-arrow-circle-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a8;&nbsp;')")
}
.fa-arrow-circle-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a9;&nbsp;')")
}
.fa-arrow-circle-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0aa;&nbsp;')")
}
.fa-arrow-circle-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ab;&nbsp;')")
}
.fa-globe {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ac;&nbsp;')")
}
.fa-wrench {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ad;&nbsp;')")
}
.fa-tasks {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ae;&nbsp;')")
}
.fa-filter {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b0;&nbsp;')")
}
.fa-briefcase {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b1;&nbsp;')")
}
.fa-arrows-alt {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b2;&nbsp;')")
}
.fa-group,
.fa-users {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c0;&nbsp;')")
}
.fa-chain,
.fa-link {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c1;&nbsp;')")
}
.fa-cloud {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c2;&nbsp;')")
}
.fa-flask {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c3;&nbsp;')")
}
.fa-cut,
.fa-scissors {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c4;&nbsp;')")
}
.fa-copy,
.fa-files-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c5;&nbsp;')")
}
.fa-paperclip {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c6;&nbsp;')")
}
.fa-save,
.fa-floppy-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c7;&nbsp;')")
}
.fa-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c8;&nbsp;')")
}
.fa-bars {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c9;&nbsp;')")
}
.fa-list-ul {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ca;&nbsp;')")
}
.fa-list-ol {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cb;&nbsp;')")
}
.fa-strikethrough {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cc;&nbsp;')")
}
.fa-underline {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cd;&nbsp;')")
}
.fa-table {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ce;&nbsp;')")
}
.fa-magic {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d0;&nbsp;')")
}
.fa-truck {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d1;&nbsp;')")
}
.fa-pinterest {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d2;&nbsp;')")
}
.fa-pinterest-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d3;&nbsp;')")
}
.fa-google-plus-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d4;&nbsp;')")
}
.fa-google-plus {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d5;&nbsp;')")
}
.fa-money {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d6;&nbsp;')")
}
.fa-caret-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d7;&nbsp;')")
}
.fa-caret-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d8;&nbsp;')")
}
.fa-caret-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d9;&nbsp;')")
}
.fa-caret-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0da;&nbsp;')")
}
.fa-columns {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0db;&nbsp;')")
}
.fa-unsorted,
.fa-sort {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dc;&nbsp;')")
}
.fa-sort-down,
.fa-sort-asc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dd;&nbsp;')")
}
.fa-sort-up,
.fa-sort-desc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0de;&nbsp;')")
}
.fa-envelope {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e0;&nbsp;')")
}
.fa-linkedin {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e1;&nbsp;')")
}
.fa-rotate-left,
.fa-undo {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e2;&nbsp;')")
}
.fa-legal,
.fa-gavel {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e3;&nbsp;')")
}
.fa-dashboard,
.fa-tachometer {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e4;&nbsp;')")
}
.fa-comment-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e5;&nbsp;')")
}
.fa-comments-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e6;&nbsp;')")
}
.fa-flash,
.fa-bolt {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e7;&nbsp;')")
}
.fa-sitemap {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e8;&nbsp;')")
}
.fa-umbrella {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e9;&nbsp;')")
}
.fa-paste,
.fa-clipboard {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ea;&nbsp;')")
}
.fa-lightbulb-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0eb;&nbsp;')")
}
.fa-exchange {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ec;&nbsp;')")
}
.fa-cloud-download {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ed;&nbsp;')")
}
.fa-cloud-upload {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ee;&nbsp;')")
}
.fa-user-md {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f0;&nbsp;')")
}
.fa-stethoscope {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f1;&nbsp;')")
}
.fa-suitcase {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f2;&nbsp;')")
}
.fa-bell-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a2;&nbsp;')")
}
.fa-coffee {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f4;&nbsp;')")
}
.fa-cutlery {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f5;&nbsp;')")
}
.fa-file-text-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f6;&nbsp;')")
}
.fa-building-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f7;&nbsp;')")
}
.fa-hospital-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f8;&nbsp;')")
}
.fa-ambulance {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f9;&nbsp;')")
}
.fa-medkit {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fa;&nbsp;')")
}
.fa-fighter-jet {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fb;&nbsp;')")
}
.fa-beer {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fc;&nbsp;')")
}
.fa-h-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fd;&nbsp;')")
}
.fa-plus-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fe;&nbsp;')")
}
.fa-angle-double-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf100;&nbsp;')")
}
.fa-angle-double-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf101;&nbsp;')")
}
.fa-angle-double-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf102;&nbsp;')")
}
.fa-angle-double-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf103;&nbsp;')")
}
.fa-angle-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf104;&nbsp;')")
}
.fa-angle-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf105;&nbsp;')")
}
.fa-angle-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf106;&nbsp;')")
}
.fa-angle-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf107;&nbsp;')")
}
.fa-desktop {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf108;&nbsp;')")
}
.fa-laptop {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf109;&nbsp;')")
}
.fa-tablet {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10a;&nbsp;')")
}
.fa-mobile-phone,
.fa-mobile {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10b;&nbsp;')")
}
.fa-circle-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10c;&nbsp;')")
}
.fa-quote-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10d;&nbsp;')")
}
.fa-quote-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10e;&nbsp;')")
}
.fa-spinner {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf110;&nbsp;')")
}
.fa-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf111;&nbsp;')")
}
.fa-mail-reply,
.fa-reply {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf112;&nbsp;')")
}
.fa-github-alt {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf113;&nbsp;')")
}
.fa-folder-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf114;&nbsp;')")
}
.fa-folder-open-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf115;&nbsp;')")
}
.fa-smile-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf118;&nbsp;')")
}
.fa-frown-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf119;&nbsp;')")
}
.fa-meh-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11a;&nbsp;')")
}
.fa-gamepad {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11b;&nbsp;')")
}
.fa-keyboard-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11c;&nbsp;')")
}
.fa-flag-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11d;&nbsp;')")
}
.fa-flag-checkered {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11e;&nbsp;')")
}
.fa-terminal {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf120;&nbsp;')")
}
.fa-code {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf121;&nbsp;')")
}
.fa-reply-all {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf122;&nbsp;')")
}
.fa-mail-reply-all {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf122;&nbsp;')")
}
.fa-star-half-empty,
.fa-star-half-full,
.fa-star-half-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf123;&nbsp;')")
}
.fa-location-arrow {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf124;&nbsp;')")
}
.fa-crop {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf125;&nbsp;')")
}
.fa-code-fork {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf126;&nbsp;')")
}
.fa-unlink,
.fa-chain-broken {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf127;&nbsp;')")
}
.fa-question {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf128;&nbsp;')")
}
.fa-info {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf129;&nbsp;')")
}
.fa-exclamation {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf12a;&nbsp;')")
}
.fa-superscript {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf12b;&nbsp;')")
}
.fa-subscript {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf12c;&nbsp;')")
}
.fa-eraser {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf12d;&nbsp;')")
}
.fa-puzzle-piece {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf12e;&nbsp;')")
}
.fa-microphone {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf130;&nbsp;')")
}
.fa-microphone-slash {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf131;&nbsp;')")
}
.fa-shield {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf132;&nbsp;')")
}
.fa-calendar-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf133;&nbsp;')")
}
.fa-fire-extinguisher {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf134;&nbsp;')")
}
.fa-rocket {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf135;&nbsp;')")
}
.fa-maxcdn {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf136;&nbsp;')")
}
.fa-chevron-circle-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf137;&nbsp;')")
}
.fa-chevron-circle-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf138;&nbsp;')")
}
.fa-chevron-circle-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf139;&nbsp;')")
}
.fa-chevron-circle-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf13a;&nbsp;')")
}
.fa-html5 {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf13b;&nbsp;')")
}
.fa-css3 {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf13c;&nbsp;')")
}
.fa-anchor {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf13d;&nbsp;')")
}
.fa-unlock-alt {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf13e;&nbsp;')")
}
.fa-bullseye {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf140;&nbsp;')")
}
.fa-ellipsis-h {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf141;&nbsp;')")
}
.fa-ellipsis-v {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf142;&nbsp;')")
}
.fa-rss-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf143;&nbsp;')")
}
.fa-play-circle {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf144;&nbsp;')")
}
.fa-ticket {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf145;&nbsp;')")
}
.fa-minus-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf146;&nbsp;')")
}
.fa-minus-square-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf147;&nbsp;')")
}
.fa-level-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf148;&nbsp;')")
}
.fa-level-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf149;&nbsp;')")
}
.fa-check-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf14a;&nbsp;')")
}
.fa-pencil-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf14b;&nbsp;')")
}
.fa-external-link-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf14c;&nbsp;')")
}
.fa-share-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf14d;&nbsp;')")
}
.fa-compass {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf14e;&nbsp;')")
}
.fa-toggle-down,
.fa-caret-square-o-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf150;&nbsp;')")
}
.fa-toggle-up,
.fa-caret-square-o-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf151;&nbsp;')")
}
.fa-toggle-right,
.fa-caret-square-o-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf152;&nbsp;')")
}
.fa-euro,
.fa-eur {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf153;&nbsp;')")
}
.fa-gbp {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf154;&nbsp;')")
}
.fa-dollar,
.fa-usd {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf155;&nbsp;')")
}
.fa-rupee,
.fa-inr {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf156;&nbsp;')")
}
.fa-cny,
.fa-rmb,
.fa-yen,
.fa-jpy {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf157;&nbsp;')")
}
.fa-ruble,
.fa-rouble,
.fa-rub {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf158;&nbsp;')")
}
.fa-won,
.fa-krw {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf159;&nbsp;')")
}
.fa-bitcoin,
.fa-btc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15a;&nbsp;')")
}
.fa-file {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15b;&nbsp;')")
}
.fa-file-text {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15c;&nbsp;')")
}
.fa-sort-alpha-asc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15d;&nbsp;')")
}
.fa-sort-alpha-desc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15e;&nbsp;')")
}
.fa-sort-amount-asc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf160;&nbsp;')")
}
.fa-sort-amount-desc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf161;&nbsp;')")
}
.fa-sort-numeric-asc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf162;&nbsp;')")
}
.fa-sort-numeric-desc {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf163;&nbsp;')")
}
.fa-thumbs-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf164;&nbsp;')")
}
.fa-thumbs-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf165;&nbsp;')")
}
.fa-youtube-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf166;&nbsp;')")
}
.fa-youtube {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf167;&nbsp;')")
}
.fa-xing {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf168;&nbsp;')")
}
.fa-xing-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf169;&nbsp;')")
}
.fa-youtube-play {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16a;&nbsp;')")
}
.fa-dropbox {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16b;&nbsp;')")
}
.fa-stack-overflow {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16c;&nbsp;')")
}
.fa-instagram {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16d;&nbsp;')")
}
.fa-flickr {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16e;&nbsp;')")
}
.fa-adn {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf170;&nbsp;')")
}
.fa-bitbucket {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf171;&nbsp;')")
}
.fa-bitbucket-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf172;&nbsp;')")
}
.fa-tumblr {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf173;&nbsp;')")
}
.fa-tumblr-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf174;&nbsp;')")
}
.fa-long-arrow-down {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf175;&nbsp;')")
}
.fa-long-arrow-up {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf176;&nbsp;')")
}
.fa-long-arrow-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf177;&nbsp;')")
}
.fa-long-arrow-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf178;&nbsp;')")
}
.fa-apple {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf179;&nbsp;')")
}
.fa-windows {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf17a;&nbsp;')")
}
.fa-android {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf17b;&nbsp;')")
}
.fa-linux {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf17c;&nbsp;')")
}
.fa-dribbble {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf17d;&nbsp;')")
}
.fa-skype {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf17e;&nbsp;')")
}
.fa-foursquare {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf180;&nbsp;')")
}
.fa-trello {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf181;&nbsp;')")
}
.fa-female {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf182;&nbsp;')")
}
.fa-male {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf183;&nbsp;')")
}
.fa-gittip {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf184;&nbsp;')")
}
.fa-sun-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf185;&nbsp;')")
}
.fa-moon-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf186;&nbsp;')")
}
.fa-archive {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf187;&nbsp;')")
}
.fa-bug {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf188;&nbsp;')")
}
.fa-vk {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf189;&nbsp;')")
}
.fa-weibo {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf18a;&nbsp;')")
}
.fa-renren {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf18b;&nbsp;')")
}
.fa-pagelines {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf18c;&nbsp;')")
}
.fa-stack-exchange {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf18d;&nbsp;')")
}
.fa-arrow-circle-o-right {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf18e;&nbsp;')")
}
.fa-arrow-circle-o-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf190;&nbsp;')")
}
.fa-toggle-left,
.fa-caret-square-o-left {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf191;&nbsp;')")
}
.fa-dot-circle-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf192;&nbsp;')")
}
.fa-wheelchair {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf193;&nbsp;')")
}
.fa-vimeo-square {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf194;&nbsp;')")
}
.fa-turkish-lira,
.fa-try {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf195;&nbsp;')")
}
.fa-plus-square-o {
	*zoom: unquote("expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf196;&nbsp;')")
}
